force-app/main/default/flows/User_Management_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_With_Passcode</name>
        <label>Send Email With Passcode</label>
        <locationX>457</locationX>
        <locationY>2606</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>newParticipant.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Welcome to this year&apos;s O&apos;Farrell College Pick Em&apos;!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Values_To_newParticipant_Variable</name>
        <label>Assign Values To &apos;newParticipant&apos; Variable</label>
        <locationX>589</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>newParticipant.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newParticipantName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Participant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_New_Year_Participated_Record_To_Existing_Participant</name>
        <label>Link New &apos;Year Participated&apos; Record To Existing Participant</label>
        <locationX>325</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>newYearParticipated.Participant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectExistingParticipantDataTable.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newYearParticipated.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentYear.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Participant_For_Current_Year</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_Newly_Created_Participant_To_Year_Participated_Record</name>
        <label>Link Newly Created Participant To &apos;Year Participated&apos; Record</label>
        <locationX>589</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>newYearParticipated.Participant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newParticipant.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newYearParticipated.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentYear.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Participant_For_Current_Year</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This Assignment needs to happen so that conditional visibility can be used in the next screen component using this boolean variable.</description>
        <name>Set_existingParticipants_Variable_To_True</name>
        <label>Set &apos;existingParticipants&apos; Variable To True</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>existingParticipants_Boolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Existing_Participant_Create_Passcode_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>This will be the option to select if somebody is creating a Participant for the first time.</description>
        <name>createParticipant</name>
        <choiceText>Create a user for the first time (select this option if you&apos;ve never participated before and want to join in the fun!)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>createParticipant</stringValue>
        </value>
    </choices>
    <choices>
        <name>forgotMyPasscode</name>
        <choiceText>I forgot my passcode (select this option if you&apos;ve already signed up for this year, but forgot your passcode)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>forgotPasscode</stringValue>
        </value>
    </choices>
    <choices>
        <name>no_dontSignUp</name>
        <choiceText>No - not yet.</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>signUpForCurrentYear</name>
        <choiceText>Sign up for this year (select this option if you&apos;ve participated before and want to sign up for the current year)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>createYearParticipated</stringValue>
        </value>
    </choices>
    <choices>
        <name>yes_signUp</name>
        <choiceText>Yes! Sign me up.</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Do_they_want_to_sign_up_this_year</name>
        <label>Do they want to sign up this year?</label>
        <locationX>776</locationX>
        <locationY>1490</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_wantToSignUp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>It_looks_like_you_haven_t_signed_up_yet_this_year_Would_you_like_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>yes_signUp</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Existing_Participant_Create_Passcode_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_An_Existing_Participant_Exist</name>
        <label>Does An Existing Participant Exist?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Select_Existing_Participant_Create_Passcode_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_existingParticipantExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingParticipants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_existingParticipants_Variable_To_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Existing_Participant</name>
        <label>Found Existing Participant?</label>
        <locationX>776</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Not_Signed_Up_Yet_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_foundExistingParticipant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingParticipant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Current_Year_Participated_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Existing_Year_Participated</name>
        <label>Found Existing Year Participated?</label>
        <locationX>622</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Not_Signed_Up_Yet_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_foundExistingYearParticipated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingYearParticipated</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reveal_Passcode_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_An_Existing_Participant</name>
        <label>Is There An Existing Participant?</label>
        <locationX>457</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_To_newParticipant_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_existingParticipantFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingParticipants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_New_Year_Participated_Record_To_Existing_Participant</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_option_was_selected</name>
        <label>Which option was selected?</label>
        <locationX>457</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Time_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_are_you_here_for</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>createParticipant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Enter_User_Details</targetReference>
            </connector>
            <label>First Time User</label>
        </rules>
        <rules>
            <name>Sign_Up_For_Current_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_are_you_here_for</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>signUpForCurrentYear</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_User_Details</targetReference>
            </connector>
            <label>Sign Up For Current Year</label>
        </rules>
        <rules>
            <name>Forgot_Passcode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_are_you_here_for</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>forgotMyPasscode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Details_To_Retrieve_Passcode</targetReference>
            </connector>
            <label>Forgot Passcode</label>
        </rules>
    </decisions>
    <description>This Flow will be embedded in the O&apos;Farrell College Pick Em&apos; Experience Site. Users can create a user for the first time, sign up for the current year, and retrieve their passcode if they forgot it.</description>
    <environments>Default</environments>
    <interviewLabel>User Management Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Management Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Participant</name>
        <label>Create New Participant</label>
        <locationX>589</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Link_Newly_Created_Participant_To_Year_Participated_Record</targetReference>
        </connector>
        <inputReference>newParticipant</inputReference>
    </recordCreates>
    <recordCreates>
        <description>This will create a record of the junction object, Year Participated, indicating that somebody participated for a given year.</description>
        <name>Create_Participant_For_Current_Year</name>
        <label>Create Participant For Current Year</label>
        <locationX>457</locationX>
        <locationY>2498</locationY>
        <connector>
            <targetReference>Send_Email_With_Passcode</targetReference>
        </connector>
        <inputReference>newYearParticipated</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Check_If_A_Participant_Already_Exists</name>
        <label>Check If A Participant Already Exists</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_An_Existing_Participant_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newParticipant.Email__c</elementReference>
            </value>
        </filters>
        <object>Participant__c</object>
        <outputReference>existingParticipants</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Year</name>
        <label>Get Active Year</label>
        <locationX>457</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Year__c</object>
        <outputReference>currentYear</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Participant</name>
        <label>Get Participant</label>
        <locationX>776</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Existing_Participant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_forgotPassword.value</elementReference>
            </value>
        </filters>
        <object>Participant__c</object>
        <outputReference>existingParticipant</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Retrieve their participant for the current year to show them their passcode.</description>
        <name>Retrieve_Current_Year_Participated_Record</name>
        <label>Retrieve Current &apos;Year Participated&apos; Record</label>
        <locationX>622</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Existing_Year_Participated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Participant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>existingParticipant.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentYear.Id</elementReference>
            </value>
        </filters>
        <object>Year_Participated__c</object>
        <outputReference>existingYearParticipated</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Passcode__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Enter_Details_To_Retrieve_Passcode</name>
        <label>Enter Details To Retrieve Passcode</label>
        <locationX>776</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Participant</targetReference>
        </connector>
        <fields>
            <name>enterEmailText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Enter your email below so we can find your user.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_forgotPassword</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Enter your email here</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Get my passcode</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_User_Details</name>
        <label>Enter User Details</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_If_A_Participant_Already_Exists</targetReference>
        </connector>
        <fields>
            <name>enterDetailsText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Let&apos;s get you set up! Enter a little bit of information for us below.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>newParticipantName</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>newParticipant.Email__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_Signed_Up_Yet_Screen</name>
        <label>Not Signed Up Yet Screen</label>
        <locationX>776</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Do_they_want_to_sign_up_this_year</targetReference>
        </connector>
        <fields>
            <name>It_looks_like_you_haven_t_signed_up_yet_this_year_Would_you_like_to</name>
            <choiceReferences>yes_signUp</choiceReferences>
            <choiceReferences>no_dontSignUp</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>It looks like you haven&apos;t signed up yet this year. Would you like to?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reveal_Passcode_Screen</name>
        <label>Reveal Passcode Screen</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayPasscode</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Here&apos;s your passcode! Remember, don&apos;t share it with anyone else.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Passcode:&lt;/strong&gt; {!existingYearParticipated.Passcode__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Existing_Participant_Create_Passcode_Screen</name>
        <label>Select Existing Participant/Create Passcode Screen</label>
        <locationX>457</locationX>
        <locationY>1874</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_There_An_Existing_Participant</targetReference>
        </connector>
        <fields>
            <name>Select_Existing_Participant_Create_Passcode_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Existing_Participant_Create_Passcode_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>existingParticipantFoundDisplayText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;It looks like you&apos;re already in the system! Select the correct record from the table below.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>selectExistingParticipantDataTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Participant__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Existing Participant</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>existingParticipants</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-4912&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email__c&quot;,&quot;guid&quot;:&quot;column-9083&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>existingParticipants_Boolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Existing_Participant_Create_Passcode_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Existing_Participant_Create_Passcode_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>enterPasscodeDisplayText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;You&apos;ll need to set up a 4 digit passcode for this year. Enter it below. It must be 4 numbers.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newYearParticipated.Passcode__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>selectExistingParticipantDataTable.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>existingParticipants_Boolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>457</locationX>
        <locationY>2714</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Thanks for signing up! Here&apos;s your passcode. Use it to create and manage your picks this year:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Passcode: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!newYearParticipated.Passcode__c}﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You will also be receiving an email with your passcode for this year. Make sure to save it! If you forget it, you can always come back to this page and select the &apos;I forgot my passcode&apos; option from the welcome menu.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>457</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_option_was_selected</targetReference>
        </connector>
        <fields>
            <name>welcomeMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Welcome to the annual O&apos;Farrell College Pick Em&apos;! Choose an option from the menu below to get started.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_are_you_here_for</name>
            <choiceReferences>createParticipant</choiceReferences>
            <choiceReferences>signUpForCurrentYear</choiceReferences>
            <choiceReferences>forgotMyPasscode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What are you here for?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>331</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Year</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>This is the body of the email that will get sent out when somebody creates a Participant.</description>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hey {!newParticipantName}!&lt;/p&gt;&lt;p&gt;Welcome to this year&apos;s O&apos;Farrell College Pick Em&apos;. We&apos;re excited to have you! Here&apos;s your passcode. Make sure you save it, because you&apos;ll need it to create and manage your picks this year.&lt;/p&gt;&lt;p&gt;Passcode: {!newYearParticipated.Passcode__c}&lt;/p&gt;&lt;p&gt;When you&apos;re ready to submit your picks, head over here: https://ofarrellcollegepickem-dev-ed.trailblaze.my.site.com/s/pick-manager&lt;/p&gt;&lt;p&gt;You can come back to that link at any time before the day of the first game to manage your picks!&lt;/p&gt;&lt;p&gt;If you have any issues, feel free to reach out to Edward Pollon (edwardpollon@gmail.com).&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentYear</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Year__c</objectType>
    </variables>
    <variables>
        <name>existingParticipant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participant__c</objectType>
    </variables>
    <variables>
        <name>existingParticipants</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participant__c</objectType>
    </variables>
    <variables>
        <name>existingParticipants_Boolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>existingYearParticipated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Year_Participated__c</objectType>
    </variables>
    <variables>
        <name>newParticipant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participant__c</objectType>
    </variables>
    <variables>
        <name>newYearParticipated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Year_Participated__c</objectType>
    </variables>
</Flow>
